<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Finnvnoi API Check" Manufacturer="Finnvnoi" Version="1.0.2.0"
           UpgradeCode="{A77A8C13-B5AD-4D14-9B31-2D2D8AC8E8C3}">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="Main" Title="Finnvnoi API Check" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Finnvnoi API Check" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Finnvnoi API Check" />
    </StandardDirectory>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Component Id="TrayExecutable">
        <File Id="FinnvnoiApiCheckExe" Source="$(var.Payload)\FinnvnoiApiCheck.exe" />
      </Component>
    </ComponentGroup>
    <Component Id="StartMenuShortcut" Directory="ApplicationProgramsFolder">
      <Shortcut Id="TrayShortcut" Name="Finnvnoi API Check" Target="[INSTALLFOLDER]FinnvnoiApiCheck.exe" />
      <RemoveFolder Id="RemoveMenu" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Finnvnoi\API Check" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
